/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box{
    display: none;
    transition: all 0.3s ease;
}
.info_box .info-title, 
.info_box .buttons,
.quiz_box header{
    height: 60px;
}
.quiz_box{
    display: none;
    transition: all 0.3s ease;
}
.quiz_box header{
    position: relative;
    z-index: 2;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #ff2600;
}
section .option_list .option.correct{
    display: flex;
    justify-content: space-between;
    color: #155724;
    padding: 1rem 1.5rem;
    margin-bottom: 15px;
    background: #d4edda;
    border: 1px solid #c3e6cb;
    pointer-events: none;
}
section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.option_list .option .icon.tick{
    color: #23903c;
    background: #d4edda;
}
.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
}
.result_box{
    display: none;
    transition: all 0.3s ease;
}
.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

